.split {
  display: flex;
  width: 100%;
  height: 100%;
}

.split > * {
  overflow: hidden;
}

.gutter {
  background-color: #e5e7eb;
  background-repeat: no-repeat;
  background-position: 50%;
  flex-shrink: 0;
  flex-grow: 0;
}

.gutter:hover {
  background-color: #d1d5db;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  background-position: center;
  background-repeat: no-repeat;
}

.gutter.gutter-horizontal:hover {
  background-color: #9ca3af;
}
